body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 2rem;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

li div span, li div button, li div input {
    margin: 0.5rem 0;
}

.status {
    padding: 3px 8px;
    border-radius: 4px;
}

.status-frei {
    background-color: #28a745;
    color: white;
}

.status-vermietet {
    background-color: #dc3545;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1rem;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 1rem;
    display: none;
}


section {
    margin-bottom: 2rem;
}

section h2 {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
}

@media (min-width: 600px) {
    li {
        flex-direction: row;
        align-items: center;
    }

    li div {
        flex-direction: row;
        align-items: center;
    }

    li div span, li div button, li div input {
        margin: 0 1rem;
    }

    button, input[type="text"] {
        margin-left: 1rem;
    }
}

/* Bestehende Styles hier */

section h2 {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer; /* Zeigt an, dass die Überschrift klickbar ist */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Anfangs ausgeblendet */
}

/* Hover-Effekt für die Überschriften */
section h2:hover {
    background-color: #45a049;
}

.renter-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Abstand zwischen den Mietern */
}

.renter-item span {
    margin-right: 10px; /* Abstand zwischen Name und Status */
}

.renter-item button {
    margin-left: auto; /* Positioniert den Button rechts */
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.renter-item button:hover {
    background-color: #0056b3;
}